@use '@carbon/react/scss/spacing' as *;

.repo-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.desc {
  padding-top: 10px;
  padding-bottom: 10px;
}

.chart-page {
  display: block;
  margin: auto;
}

.grid-pies {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: space-around;
  //align-items: center;
 // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.dashboard-title {
  font-weight: bold;
}

#picto-pop {
  margin: auto;
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 500px) {
  #picto-pop {
    margin: 0;
    width: 350px;
    height: 350px;
  }
}
