@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;
@use './components/Header/header';
@use './content/LandingPage/landing-page';
@use './content/CoursesPage/courses-page';
@use './content/CoursePage/course-page';
@use './content/exp/ProgressionPage/progression';
@use './content/ProgPage/prog-page';

.cds--content {
  margin-top: 0px;
  padding-top: 0px;
}

.cds--header ~ .cds--content {
  margin-top: 0px;
}

.warning {
  margin-top: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}